.lb-outerContainer {
    background: transparent !important;
}

.lb-dataContainer {
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 0 0 8px 8px;
}

.lb-nav a.lb-prev, 
.lb-nav a.lb-next {
    opacity: 1 !important;
}

.lb-number {
    color: #ccc !important;
}

.lb-caption {
    color: #fff !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
}
